<div class="input-container">
  <input [ngModel]="searchQuery()" (ngModelChange)="searchQuery.set($event)" />
  <div>Loading results: {{ loading() }}</div>
  <div> Total results: {{ totalResultCount$ | async }}</div>
</div>

<hr />

<div class="result-container">
  <div *ngFor="let planet of searchResults$ | async" class="result">
    {{ planet }}
  </div>
</div>

<br />
<div style="display: flex; gap: 10px">
  <button *ngIf="hasPrevPage()" [disabled]="loading()" (click)="previousPage()">
    Previous
  </button>
  <div>Current Page: {{ page() }}</div>
  <button *ngIf="hasNextPage()" [disabled]="loading()" (click)="nextPage()">
    Next
  </button>
</div>
